#inhalt { 
	background-color:#cfeff4;
	padding:5px;
	border:#0082d4 solid 2px;
}

body { 
	background:#ffffff;
	margin:0px;
	padding:10px;
	font-family:"Trebuchet MS", Verdana, sans-serif;
	font-size:12px;
	color:#000000;
}

h1 { 
	background-color:#006cb7;
	padding:5px;
	margin:0px;
	font-size:12px;
	color:#ffff00;
}

h2 {	
	font-size:14px;
	color:#ff4305;
	}

ol {
	margin-top:10px;
}

li {
	padding-bottom:10px;
}

.footerlink {
	display:block;
	text-align:center;
	font-size:11px;
	padding-top:5px;
}

a {
	color:#006cb7;
}

a:hover {
	color:#ff4305;
}

h1 a, h1 a:hover {
	color:#FF9628;
}


/* Winner list */
#winlist table#zebra {
	padding:0px 6px 0px 0px;
	font-size:13px;
}
#winlist table#zebra tr {
	padding-left:2px;
	background-color:#1BB8FF;
}
#winlist table#zebra tr.odd {
	background-color:#8FE4FF;
}
#winlist table#zebra thead {
	font-weight:bold;
}
#winlist table#zebra td {
	padding:2px 6px 0px 6px;
}


a.flexbutton, a.flexbutton:hover {
	display:-moz-inline-stack;
	display:inline-block;
	height:35px;
	padding-left:15px;
	background:#006cb7;
	color:#ff0;
	font-weight:bold;
	text-decoration:none;
	font-size:14px;
	white-space:nowrap;
	line-height:1;
	overflow:hidden;
}
a.flexbutton.wide, a.flexbutton.wide:hover {
	padding-left:40px;
}
a.flexbutton span, a.flexbutton:hover span {
	display:-moz-inline-stack;
	display:inline-block;
	height:25px;
	padding:10px 15px 0 0;
	cursor:pointer;
}
a.flexbutton.wide span, a.flexbutton.wide:hover span {
	padding:10px 40px 0 0;
}