<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html> 
<head> 
<title>Imprint</title> 
<link rel="stylesheet" type="text/css" href="agb_format.css" /> 
</head> 
<body> 
<div id="inhalt"> 
<h1>Imprint:</h1><br> 
<p><b>One2One Media AG,</b><br>Hauptstrasse 49, 8750 Glarus;<br>Swizerland.<br><br>
Bij vragen rondom topquizen staan wij je graag te woord. Stuur een E-Mail aan: <a href="mailto:info@mega-quiz.nl">info@mega-quiz.nl</a> en vermeldt daarbij je mobiele telefoonnnummer.<br><br>
<strong>Auteursrechten</strong><br> 
De rechten op alle teksten, afbeeldingen zowel als de layout, de HTML-code en de scripts zijn voorbehouden aan One2One Media AG. Voor elke vorm van wedergebruik is de uitdrukkelijke toestemming nodig van de huidige eigenaar van deze rechten.<br><br> 
<strong>Merken</strong><br> 
One2One is een geregistreerd merk van One2One Media AG. Logo en merknamen worden in de regel niet als zodanig getoond. Het ontbreken van dergelijke aanduiding houdt niet in dat het een vrije merk- of handelsnaam in de zin van de merkenwet (Waren- und Markenzeichenrecht) betreft.<br> <br> 
One2One Media AG is onder het handelsregisternummer CH 160.3.005.040-7 het Kantongerecht van Glarus (Switzerland) geregistreerd.
<br></p>  
</div> 
<a href="javascript:self.close()" class="footerlink">Venster sluiten</a> 
</body> 
</html> 