<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>PRIVACY STATEMENT Topquizen.nl</title> 
<link rel="stylesheet" type="text/css" href="agb_format.css" /> 
</head>
<body> 
<div id="inhalt"> 
<h1>PRIVACY STATEMENT</h1> 
<p>Dit Privacy Statement heeft betrekking op de actie "topquizen" van One2One Media (de "Actie"). One2One Media neemt uw privacy zeer serieus en zal informatie over u op een veilige manier verwerken en gebruiken. De gegevens die tijdens de Actie worden verzameld, worden overeenkomstig hoge veiligheidsnormen opgeslagen. One2One Media beschermt naar eer en geweten uw persoonlijke gegevens. Om een soepel spelverloop te kunnen garanderen heeft de gegevensbescherming van One2One Media de hoogste prioriteit. In dit document wordt de Privacy Statement van One2One Media uiteen gezet. We raden u daarom aan deze Privacy Statement aandachtig door te nemen.</p> 
<h2>Wie is One2One Media?</h2> 
<p>One2One Media biedt u de mogelijkheid om deel te nemen aan de Actie en daarmee kans te maken op een iPad 16GB. One2One Media GmbH is gevestigd in CH 160.3.005.040-7 het Kantongerecht van Glarus (Switzerland)</p> 
<h2>Welke informatie wordt door One2One Media verzameld en verwerkt?</h2> 
<h3>Registratie</h3> 
<p>Wanneer u wilt deelnemen aan de Actie, wordt u gevraagd bepaalde informatie over uzelf in te vullen. Het gaat hierbij om uw telefoonnummer, en, in het geval u in aanmerking komt voor een prijs, uw naam en adresgegevens.</p> 
<h3>Automatisch gegenereerde informatie</h3> 
<p>One2One Media verzamelt ook automatisch gegenereerde informatie over uw surfgedrag tijdens uw gebruik van onze website en deelname aan de Actie. Deze informatie bestaat onder meer uit uw IP-adres (nummer van uw computer dat het mogelijk maakt uw computer te herkennen), het type browser (computerprogramma om internetpagina’s mee te kunnen bekijken) dat u gebruikt.</p> 
<h2>Voor welke doeleinden zal One2One Media uw gegevens gebruiken?</h2> 
<h3>Doeleinden</h3> 
<p>De door u verstrekte informatie zullen we gebruiken:</p> 
<ul> 
<li>om met u te communiceren in het kader van de Actie en de daaraan verbonden betaalde abonnementsdienst.</li> 
<li>voor statistische doeleinden en voor beveiliging van onze website.</li> 
</ul> 
<h3>Gebruik van de gegevens</h3>		
<p>One2One Media gebruikt uw persoonlijke gegevens om met u te communiceren in het kader van de Actie en de daaraan verbonden betaalde abonnementsdienst. Zo zal One2One Media  bijvoorbeeld contact met u opnemen aan de hand van de door u verstrekte gegevens indien u de winnaar van een prijs bent en zal de prijs worden verzonden aan het door u opgegeven adres.</p> 
<p>Ten slotte gebruikt One2One Media automatisch gegenereerde informatie voor statistische doeleinden alsmede voor beveiliging van de Website.</p> 
<h2>Aan wie verstrekt One2One Media uw gegevens?</h2> 
<p>One2One Media verstrekt/verhuurt/verkoopt uw persoonsgegevens zonder uw toestemming niet aan derde partijen. One2One Media kan uw gegevens wel aan derde partijen verstrekken voorzover dit noodzakelijk is voor uw deelname aan een Actie en/of voorzover deze gegevens niet tot u persoonlijk kunnen worden herleid (zoals automatisch gegenereerde informatie behalve uw IP-adres). Ten slotte kan One2One Media uw gegevens aan derden verstrekken indien zij daartoe op basis van wettelijke bepalingen verplicht is, zij daartoe genoodzaakt is als gevolg van rechtszaken en/of in het geval zij dat noodzakelijk acht ter bescherming van haar eigen rechten.</p> 
<h2>Op welke wijze beschermt One2One Media uw persoonlijke informatie??</h2> 
<p>One2One Media zal passende technische en organisatorische maatregelen nemen om uw (persoons)gegevens te beveiligen tegen verlies of tegen enige vorm van onrechtmatige verwerking.</p> 
<h2>Overdracht onderneming</h2> 
<p>Bij de verdere groei en ontwikkeling van One2One Media, kan het voorkomen dat één of meer onderdelen of activa van de onderneming worden overgedragen aan een derde partij of dat One2One Media fuseert met een derde partij. In dat geval kunnen ook uw (persoons)gegevens worden overgedragen.</p> 
<h2>Doorgifte naar landen buiten de EU</h2> 
<p>Om technische en operationele redenen kan het nodig zijn dat uw (persoons)gegevens worden doorgegeven (naar servers van) aan ons gelieerde ondernemingen in de Verenigde Staten of andere landen buiten Europa, waar de regelgeving op het gebied van de privacybescherming mogelijk niet eenzelfde bescherming biedt als in de Europese Unie.</p> 
<h2>Welke rechten heeft u?</h2> 
<p>U heeft het recht One2One Media via info@mega-quiz.nl te vragen welke persoonlijke gegevens zij van u verwerkt. One2One Media zal op dit verzoek in ieder geval binnen vier weken reageren. Vervolgens kunt u One2One Media verzoeken deze gegevens aan te vullen, te verbeteren, te verwijderen of af te schermen, waarbij u in uw verzoek dient aan te geven welke wijzigingen u wenst. Ook op dit verzoek zal One2One Media in ieder geval binnen vier weken reageren.</p> 
<h2>Hoe ver reikt de verantwoordelijkheid van One2One Media?</h2> 
<p>De website/Actie kan hyperlinks bevatten waarmee u de website/Actie verlaat en op websites van derde partijen terecht komt. One2One Media heeft geen zeggenschap over de website van derden waarnaar wordt gelinkt. Het kan dus zo zijn dat op het gebruik van deze websites van derden een andere privacy policy van toepassing is. Deze Privacy Statement van One2One Media heeft alleen betrekking op persoonlijke gegevens die via de website van One2One Media en/of de Actie zijn verkregen. One2One Media accepteert geen enkele verantwoordelijkheid en/of aansprakelijkheid voor (de werking en/of inhoud van) websites van derde partijen.</p> 
<h2>Kan deze Privacy Statement worden gewijzigd?</h2> 
<p>Deze Privacy Statement kan worden gewijzigd. Wijzigingen worden bekendgemaakt op de website van One2One Media of de Actie.</p> 
<h2>Vragen?</h2> 
<p>Mocht u nog vragen hebben over deze Privacy Statement, dan kunt u een e-mail sturen aan .</p> 
		</div> 
<a href="javascript:self.close()" class="footerlink">Venster sluiten</a> 
		
	</body> 
</html> 