<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Algemene voorwaarden</title>
<link rel="stylesheet" type="text/css" href="agb_format.css" />
</head>
<body>
<div id="inhalt">
<ul>
<h2>Algemeen</h2>
<li>Deze actievoorwaarden zijn van toepassing op de actie getiteld "topquizen" van oNE2oNE Media AG. (hierna: "de Actie"). Door deel te nemen aan de Actie accepteer je deze Actievoorwaarden.</li>
<li>Deze Actie wordt georganiseerd door one2one Media AG, Hauptstrasse 49, 8750 Glarus; Swizerland.</li>
<li>Je kunt deelnemen aan de Actie gedurende één week na inschrijving (hierna: de "Actieperiode") Bijvoorbeeld bij registratie op een dinsdag om 13:45:00 uur mag je deelnemen tot uiterlijk de daaropvolgende dinsdag om 13:44:59 uur. De Actieperiode kan tegen betaling telkens worden verlengd met periodes van één week. Na afloop van de Actieperiode is het niet meer mogelijk om mee te dingen naar de prijzen en worden deelnames niet in behandeling genomen. De dienst is een abonnement en kan op elk moment, in het login-domein, per SMS of via contact, opgezegd worden. Als hij niet wordt opgezegd, wordt de dienst automatisch met een week verlengd. Dit wordt per SMS meegedeeld.</li>
</ul>
<ul>
<h2>Deelname</h2>
<li>Om deel te nemen aan de Actie dient de deelnemer (hierna: "de Deelnemer"):
<li>het "topquizen-spel" te spelen;</li>
<li>zich in te schrijven onder opgave van zijn gegevens, zoals zijn mobiele telefoonnummer;</li>
<li>de aan de Actie verbonden betaalde abonnementsdienst af te nemen;</li>
<li>in overeenstemming te handelen met deze Actievoorwaarden.
<li>Inschrijving voor de Actie vindt plaats door zijn mobiele telefoonnummer in te vullen in het daartoe bestemde on-line formulier. De Deelnemer ontvangt daarop een gratis SMSbericht waarin wordt verzocht zijn deelname te bevestigen met verzending van OK, waarmee hij zich inschrijft voor de aan de Actie verbonden abonnementsdienst. Voor deze dienst wordt wekelijks 18 Euro in rekening gebracht (3 betaalde SMSberichten per week ten bedrage van 3 Euro per SMSbericht).</li>
<li>De Deelnemer ontvangt een wachtwoord dat gebruikt dient te worden bij deelname aan de Actie. De Deelnemer is zelf verantwoordelijk voor het gebruik dat gemaakt wordt van dit wachtwoord en het geheim houden daarvan voor derden.</li>
<li>In geval van een prepaid contract voor het gebruik van het mobiele telefoonnummer worden de verschuldigde bedragen automatisch en onmiddellijk afgeschreven bij ieder verzonden SMSbericht. In geval van een abonnement zullen de verschuldigde bedragen figureren op de telefoonrekening en vindt voldoening plaats door betaling van de telefoonrekening aan de desbetreffende provider.</li>
<li>De Actie bestaat uit het "mega-quiz" spel dat door de Deelnemer moet worden gespeeld. In het kader van dat spel dienen de gestelde vragen correct en zo snel mogelijk te worden beantwoord. Enkel en alleen de tijd voor het beantwoorden op de 10-Quizvragen, ná een succesvolle registratie, wordt tot de resultaten berekend. Aan het einde van iedere kalendermaand komt de Deelnemer die het spel succesvol heeft gespeeld en die het snelste resultaat heeft behaald ten opzichte van andere Deelnemers in diezelfde kalendermaand, in aanmerking voor een prijs. Het tijdstip van deelname aan het topquizen-spel (en niet het tijdstip van inschrijving c.q. verlenging van de Actieperiode) is bepalend voor de vaststelling in welke kalendermaand wordt meegedongen naar een prijs.</li>
<li>De Deelnemer staat ervoor in dat de door hem verstrekte informatie juist, actueel en volledig is.</li>
<li>De Deelnemer mag zijn inschrijving een onbeperkt aantal malen verlengen mits hij de daarvoor toepasselijke tarieven betaalt. In het geval van meerdere deelnames in een bepaalde kalendermaand dingt de Deelnemer mee naar de prijs met het beste resultaat dat hij tot dan toe in die kalendermaand heeft behaald.</li>
<li>Om in aanmerking te komen voor een prijs, dienen Deelnemers minimaal 16 jaar oud te zijn en een vaste woon-of verblijfplaats te hebben in Nederland. Indien One2One Media hierom vraagt voorafgaand aan deelname aan de Actie of voorafgaand aan de uitreiking van de prijs, is de Deelnemer verplicht om een kopie van zijn legitimatiebewijs voor te leggen.</li>
<li>Medewerkers van One2One Media, medewerkers van door haar ingeschakelde derden dan wel medewerkers van de ondernemingen die de prijzen ter beschikking stellen, zijn uitgesloten van deelname aan de Actie.</li>
<li>One2One Media behoudt zich het recht voor om de Actie op elk door haar gekozen moment te beëindigen dan wel de Actievoorwaarden te wijzigen. Daarnaast heeft One2One Media het recht om Deelnemers zonder opgave van redenen te weigeren of te diskwalificeren. Hiervan kan onder meer sprake zijn indien de Deelnemer een of meer van deze Actievoorwaarden heeft overtreden. De Deelnemer kan in dat geval geen aanspraak maken op een prijs dan wel enige andere vergoeding.</li>
<li>De Deelnemer kan zijn inschrijving voor de abonnementsdienst (en daarmee de verdere deelname aan de Actie ten allen tijde beeindigen door een SMSbericht te versturen met als inhoud STOP aan nummer 4400 dan wel op enig andere door One2One Media uitdrukkelijk kenbaar gemaakte wijze, welke beeindiging in werking treedt aan het einde van de lopende Actieperiode. De Deelnemer heeft in dat geval nog het recht mee te dingen naar een prijs gedurende de lopende Actieperiode. Eenmaal aan One2One Media verschuldigde bedragen worden niet gerestitueerd.</li>
<li>De deelnemer erkent en stemt ermee in dat, aangezien met de dienstverlening in het kader van de abonnementsdienst wordt aangevangen voordat de in artikel 7:46d van het Burgerlijk Wetboek bedoelde termijn is verstreken, er geen wettelijk annuleringsrecht bestaat als bedoeld in dat artikel.</li>
</ul>
<ul>
<h2>Prijzen</h2>
<li>De Deelnemer die de minste tijd nodig heeft, berekend tot op de duizendste seconde, om de in het kader van het spel gestelde vragen correct te beantwoorden, wint de daarvoor door One2One Media beschikbaar gestelde prijs.</li>
<li>De prijs bestaat uit een iPad 16GB. Er wordt per kalendermaand één prijs uitgereikt. Echter, in het geval dat de snelste tijd wordt behaald door meer dan één Deelnemer, wordt de prijs aan beide (of alle) Deelnemers uitgereikt met diezelfde tijd.</li>
<li>Met de prijswinnaar wordt uiterlijk één maand na afloop van de desbetreffende kalendermaand contact opgenomen met gebruikmaking van de door hem opgegeven contactgegevens. Nadat met hem contact is opgenomen, heeft de prijswinnaar één week om aanspraak te maken op de gewonnen prijs en een adres in Nederland op te geven waarnaar de prijs kan worden toegezonden. Indien hij na afloop van deze periode reageert, vervalt zijn aanspraak op een prijs.</li>
<li>Mits de prijswinnaar aan alle Actievoorwaarden heeft voldaan, wordt de prijs aan de prijswinnaar toegezonden binnen één maand nadat One2One Media op de hoogte is gesteld van het adres waarnaar de prijs kan worden gezonden.</li>
<li>Indien en voor zover er sprake is van kansspelbelasting, komt die voor rekening van One2One Media.</li>
<li>Bij weigering van in ontvangst neming van de prijs of enige andere reden voor niet-uitkering van de prijs, bijvoorbeeld door opgave van incorrecte informatie door de Deelnemer, vervalt de prijs aan One2One Media.</li>
<li>De prijzen zijn persoonsgebonden, niet-overdraagbaar en niet-inwisselbaar voor geld.</li>
<li>One2One Media behoudt zich het recht voor om prijzen niet uit te keren of te wijzigen indien prijzen, om welke reden dan ook, niet uitgekeerd kunnen worden.</li>
<li>One2One Media aanvaardt geen aansprakelijkheid voor prijzen die niet of later dan aangekondigd worden ontvangen noch voor beschadiging van prijzen tijdens verzending. One2One Media is niet aansprakelijk voor het niet of gebrekkig functioneren van de prijs.</li>
</ul>
<ul>
<h2>Overige</h2>
<li>One2One Media en door haar ingeschakelde derden zijn niet aansprakelijk voor enige schade op enige wijze veroorzaakt door of verband houdende met de deelname aan deze Actie en/of het gebruik van de prijs.</li>
<li>Over de uitslag van de Actie wordt niet gecorrespondeerd.</li>
<li>Op deze Actie is Nederlands recht van toepassing.</li>
<li>De (persoons-) gegevens die One2One Media ontvangt in het kader van deze Actie worden behandeld in overeenstemming met de geldende wet- en regelgeving en de door One2One Media gehanteerde Privacy Policy. De gegevens zullen worden gebruikt voor de uitvoering van en de communicatie in verband met de Actie.</li>
<li>Inzage en/of correctie van gegevens kan plaatsvinden door contact op te nemen met  info@mega-quiz.nl. Ook met eventuele vragen over deze Actie kan op dit e-mail adres contact worden opgenomen.</li>
</ul>
</div>
<a href="javascript:self.close()" class="footerlink">Venster sluiten</a>
</body>
</html>
