*{
	margin:0px;
	padding:0px;
}
body {
	background-image: url(/imagenes/motivo.jpg);
	background-repeat: repeat-x;
	background-color: #000;
}

#contenedor {
	height: 616px;
	width: 950px;
	display: block;
	margin: 0 auto;
	position: relative;	
}

#contenedor #textoLegal {
	width: 930px;
	display: block;
	margin:20px auto 0 auto;
	background: #FFF;
	padding:10px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: justify;
}


#contenedor #textoLegal p a {
	color: #FF6719;
	text-decoration: underline;
}
#contenedor #textoLegal p a:hover {
	font-weight: bold;
}

#contenedor #contenido {
	width:950px;
	display: block;
	margin:0 auto;
	min-height:616px;

}
#contenedor #contenido #titulos {
	position:absolute;
	top:282px;
	left:572px;
	text-align: right;
	color: #FFF;
	font-family: Calibri, Arial;
	font-weight: bold;
	width: 340px;
}
#contenedor #contenido #contenidoLogin {
	position:absolute;
	top:282px;
	left:559px;
	text-align: right;
	color: #54361E;
	font-family: Calibri, Arial;
	font-weight: bold;
	width: 340px;
	font-size: 16px;
}
#contenedor #contenido #contenidoForm {
	position:absolute;
	top:282px;
	left:392px;
	
	color: #54361E;
	font-family: Calibri, Arial;
	font-weight: bold;
	width: 507px;
	font-size: 16px;
	height: 184px;
}

#contenedor #contenido #contenidoEntrada {
	position:absolute;
	top:338px;
	left:559px;
	text-align: right;
	color: #54361E;
	font-family: Calibri, Arial;
	font-weight: bold;
	width: 340px;
	font-size: 16px;
}



#contenedor #contenido #titulos .tituloInicio {
	font-size: 28px;
	display: block;
	
	
}
#contenedor #contenido #titulos .tituloInicioPeq {
	font-size: 20px;
	margin-top: -4px;
	display: block;
}
#contenedor #contenido #campoTextoInicio input {
	background-color: #eaddce;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: Calibri, Arial;
	font-size: 24px;
	color: #513319;
	font-weight: bold;
	text-align: right;
	width:190px;
	position:absolute;
	top:360px;
	left:715px;
}
#contenedor #contenido #f1 #btnInicio {
	position:absolute;
	top:415px;
	left:574px;
	width: 318px;
}

#contenedor #contenido #f1 #btnInicio a {
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	font-family: Calibri, Arial;
	text-decoration:underline;
	float: right;
	margin-top: 6px;
}

#contenedor #contenido #f1 #btnInicio a:hover {

	color:#000;

}
#contenedor #contenido #enlaceUsuariosregistrados {
	position: absolute;
	left: 683px;
	top: 523px;
	display: block;
	width: 216px;
	text-align: right;
}

#contenedor #contenido #enlaceUsuariosregistrados a {
	color: #FF6719;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#contenedor #contenido #enlaceUsuariosregistrados a:hover {
	color: #FFF;
}


#contenedor #contenido #enlacesForm {
	position: absolute;
	left: 393px;
	top: 552px;
	display: block;
	width: 506px;
	text-align: right;
	height: 58px;
	color: #FF6719;
}

#contenedor #contenido #enlacesForm a {
	color: #FF6719;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#contenedor #contenido #enlacesForm a:hover {
	color: #FFF;
}
#contenedor #contenido #f1 #contenidoLogin input {
	background-color: #ff6718;
	border: 1px dashed #C9B185;
	color: #F4EADF;
	padding-left: 4px;
	width: 160px;
	height: 24px;
	font-weight: bold;
}

/*
-- ANULADO --
#contenedor #contenido #f1 #contenidoForm input {
	background-color: #ff6718;
	border: 1px dashed #C9B185;
	color: #F4EADF;
	padding-left: 4px;
	width: 160px;
	height: 24px;
	font-weight: bold;
}
*/

#contenedor #contenido #f1 #contenidoForm input {
	background-color: #f3dfbf;
	border: 1px dashed #C9B185;
	color: #503319;
	padding-left: 4px;
	width: 160px;
	height: 24px;
	font-size:14px;
	font-family:Calibri, Arial;
	font-weight:bold;
}


#contenedor #contenido #f1 #contenidoForm textarea {
	background-color: #f3dfbf;
	border: 1px dashed #C9B185;
	color: #503319;
	padding-left: 4px;
	width: 380px;
	
	font-size:14px;
	font-family:Calibri, Arial;
	font-weight:bold;

}
#contenedor #contenido #f1 #contenidoLogin .textoNormalBlanco {
	font-size: 14px;
	font-weight: bold;
	color: #513319;
	text-decoration: none;
}

#contenedor #contenido #f1 #contenidoEntrada input {
	background-color: #ff6718;
	border: 1px dashed #C9B185;
	color: #F4EADF;
	padding-left: 4px;
	width: 160px;
	height: 24px;
	font-weight: bold;
}
#contenedor #contenido #f1 #contenidoEntrada .textoNormalBlanco {
	font-size: 14px;
	font-weight: bold;
	color: #513319;
	text-decoration: none;
}

#btn_submit {cursor:pointer; background: url(/imagenes/button-submit.png) no-repeat scroll left center transparent; border: 0pt none; width: 272px; height: 66px; position: absolute; z-index: 3; top: -15px; right: -35px; text-indent: -5000em;}

#contenedor #contenido #f1 #btnInicio img {
	float: right;
}
#contenedor #contenido #f1 #contenidoForm .textoForm {
	font-size: 14px;
}

#questions {
	width:911px; 
	height: 151px;
	display: block;
	padding:10px 40px 10px 40px;
	background: url(/imagenes/questions-bg.jpg) left no-repeat;
	margin: 200px auto 0 auto; 
	font-family:arial;
	font-size:26px;
	border-radius:8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px
	text-align:center;
}

h2.question {
	padding-bottom:20px;
	color:#000;
	text-shadow:1px 1px #FFF;
	font-size:28px;
}

input[type="radio"] {
	margin-right:40px;
}

#questions a {
	width:182px;
	height:50px;
	display: block;
	background: url(/imagenes/next-btn.png) no-repeat left;
	text-align: center;
	line-height:2.8em;
	font-size:18px;
	text-decoration: none;
	color:#000;
	text-shadow: 1px 1px #FFF;
	margin:10px auto;
}

#questions a:hover {
	color:blue;
	text-decoration: none;
}

.buttonlink {
	border:1px solid green;
}

ul#legal_links {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	display: block;
	list-style: none;
	background: #FFF;
	width:100%;
	margin: 10px auto;
	text-align: center;
	padding:2px 0
}

ul#legal_links li {
	display: inline
}

ul#legal_links li a {
	color:#000
}

p#tax {
	font-family: Arial;
	font-size: 12px;
	display: block;
	padding:2px 5px 2px 5px;
	background: #000;
	color:#FFF;
	text-align: center;
}
